<h1><%= @song.name %></h1>
<p><%= @song.released %></p><br>
<p><%= @song.release_year %></p><br>
<p><%= @song.artist_name %></p><br>
<p><%= @song.genre %></p><br>

<%= link_to "Delete", song_path(@song), method: :delete %>
