<h1>Songs#show</h1>
<p>Find me in app/views/songs/show.html.erb</p>
<h2><%= @song.title %></h2>
by <strong><%= @song.artist_name %></strong>
<% if @song.released? %>
<p>
 released in 
 <strong><%= @song.release_year %></strong>
</p>
<% end %>

<p>
    <strong>Genre:</strong>
    <%= @song.genre %>
</p>

<%= link_to 'edit', edit_song_path(@song) %>





